h1 {
	font-size: 36px;
	font-weight: 20;
	margin-left: 20px;
}


input[type=text] {
  padding: 5px;
  margin-left: 20px;
  margin-right: 2px;
  
}

input[type=submit] {
  background: #008CBA;
  font-size: 16px;
  padding: 4px 18px;
}

ul {
	list-style-type: none;
	width: 900px;
}
li {
	border-bottom:  2px solid #DCDCDC;
	margin-bottom: 15px;
	padding-left: 2px;
	width: 700px;

}
.skill_input {
	background: none; 
	outline: none;
	color: #000;
	border: none;
	width: 300px;
	font-size: 16px;
	background-color: red;

}

a {
	text-decoration: none;
}

.btuDone {
    color: lime;
	
}
.btuDelete {
    color: #E00;
}

.btuShow {
	visibility: hidden;
	float: right;
	padding-right: 10px;
}

li:hover .btuShow {
	visibility: visible;
}
li:hover {
	border-bottom:  2px solid #000;
}



